.site-wrapper {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

main.content {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 940px;
    float: right;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
}

main.content.push {
    -webkit-transform: translateX(295px);
    -moz-transform: translateX(295px);
    -ms-transform: translateX(295px);
    -o-transform: translateX(295px);
    transform: translateX(295px);
}

/* hero section */

.hero {
    height: 720px;
    margin-top: 0;
}

.hero .cta {
    color: #fff;
    max-width: 600px;
    z-index: 1;
}

.hero .cta h1 {
    color: #fff;
    font-size: 60px;
    line-height: 0.7;
}

.hero .cta h1 .dot::after {
    content: '';
    background-color: #ff5959;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    height: 13px;
    width: 13px;
}

.hero .cta p {
    font-size: 16px;
    line-height: 1.8;
}

.overlay {
    background-color: #4a63e7;
    left: 0;
    top: 0;
    opacity: 0.6;
    height: 100%;
    position: absolute;
    width: 100%;
}

section {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

section.white-bg {
    background-color: #fff;
}

section.padding {
    padding: 80px 56px;
}

section.padding-50 {
    padding: 50px;
}

section.padding-60 {
    padding: 60px 50px;
}

.section-title {
    margin: 0;
}

.section-title::after {
    content: '';
    background-color: #ff5959;
    border-radius: 25px;
    display: block;
    height: 5px;
    margin-top: 14px;
    width: 30px;
}

.skill-item .skill.info span {
    font-size: 14px;
}

.skill-item h4 {
    font-size: 14px;
    text-transform: uppercase;
}

.service-item {
    border: 2px solid #efefef;
    border-radius: 10px;
    padding: 30px 20px;
    transition: all 0.3s ease-in-out;
}

.service-item h4,
.service-item i {
    transition: all 0.3s ease-in-out;
}

.service-item:hover {
    border-color: #ff5959;
    background-color: #ff5959;
    color: #fff;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
}

.service-item:hover h4,
.service-item:hover i {
    color: #fff;
}

.icon-simle {
    color: #ff5959;
    font-size: 24px;
}






.contact-info i {
    font-size: 22px;
    color: #ff5959;
    float: left;
}

.contact-info .details {
    margin-left: 40px;
}

.contact-info .details h5 {
    font-size: 16px;
    margin: 0 0 5px;
}

#infscr-loading {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 10px;
}

#infscr-loading img {
    display: none;
}

.shadow-blue {
    -webkit-box-shadow: 0px 6px 15px 0 rgba(74, 99, 231, 0.1);
    -moz-box-shadow: 0px 6px 15px 0 rgba(74, 99, 231, 0.1);
    box-shadow: 0px 6px 15px 0 rgba(74, 99, 231, 0.1);
}

.shadow-dark {
    -webkit-box-shadow: 0px 6px 15px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 15px 0 rgba(0, 0, 0, 0.2);
}

.parallax {
    background-size: cover;
    background-attachment: fixed;
}